html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.movie-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* max 3 rader */
    -webkit-box-orient: vertical;
}

/*.card-img-top.movie-poster {
    height: 420px;*/ /* prova 380–500 */
    /*width: 100%;
    object-fit: cover;
}*/

.card-img-top.movie-poster {
    height: 320px;
    width: 100%;
    object-fit: contain;
    background: #000;  snygg bakgrund när det blir luft 
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
